<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://www.visitsingapore.com/en_in/see-do-singapore/architecture/modern/henderson-waves/jcr:content/par-carousel/carousel_detailpage/carousel/item_1.thumbnail.carousel-img.1480.833.jpg" class="d-block h-50 " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                  
                      <p>Explore some of the city’s best parks and trails, such as the Southern Ridges Walk.
                       </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.visitsingapore.com/en_in/see-do-singapore/architecture/modern/henderson-waves/jcr:content/par-carousel/carousel_detailpage/carousel/item_2.thumbnail.carousel-img.1480.833.jpg" class="d-block  " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                     
                      <p> The Henderson Waves Bridge mimics the undulating shape of a wave, curving and twisting along its entire 274-metre length.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.visitsingapore.com/en_in/see-do-singapore/architecture/modern/henderson-waves/jcr:content/par-carousel/carousel_detailpage/carousel/item_3.thumbnail.carousel-img.1480.833.jpg" class="d-block " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                     
                      <p>With hidden recesses and shell-like niches, pedestrians have plenty of pockets to relax at the Henderson Waves.</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              
    </div>
</div> 
 </div>  
</div>
    <div class="col-md-12 mt-3">
     <b> THE CITY-STATE OF SINGAPORE </b><p>IS the greenest city in Asia according to the Green City Index. The green cover of the so-called Garden City is almost at 50 percent, and the lush environments are supported by a focus on renewable energy and future sustainability. Part of this interconnected system is the Southern Ridges, a 6.2-mile (10-kilometer) trail in the south of the city. And this is where you’ll find the Henderson Waves, the highest pedestrian bridge in Singapore.</p><br>

     <p>The idea for the Southern Ridges was conceived in 2002. Its aim was to connect a series of parks located along the southern ridge of Singapore, with one trail running between the Mount Faber, Telok Blangah Hill, and Kent Ridge parks and the Labrador Nature Reserve. To achieve this, local authorities commissioned a number of architecturally striking pedestrian bridges and walkways to connect the different green spaces, at a cost of S$25.5 million (US $18.5 million).</p><br>
      
     <p>The Henderson Waves, completed in 2008, is the most impressive of all the bridges along the trail. It connects Mount Faber Park to Telok Blangah Hill Park, stretching for 899 feet (274 meters) and reaching a height of 118 feet (36 meters) above Henderson Road.
      
      <p>The bridge’s most notable feature is its organic wave-like design. The walkway itself is formed by slats of yellow Balau wood, sourced from certified sustainable timber farms in East Malaysia, and around this flow the “waves.” The waves are formed by seven undulating curved steel ribs that at various stages rise over or beneath the walkway. In some sections, the wave flows high over the bridge forming alcoves that provide sheltered seating areas for passing pedestrians.</p><br>
      
      <p> The bridge was designed to integrate with the green areas around it. At the same time, it was made with multifunctionality in mind. Not only does it connect two green spaces, it also provides a recreational experience in its own right.
      
        <i style="color:rgb(243, 26, 15)">It’s a popular destination for joggers and walkers, as well as couples and families who come to sit in the shaded alcoves. People come to enjoy the panoramic views of the city, harbor, and Southern Islands, while bird watchers walk the bridge to spot the various birds that can be seen in the surrounding canopy. And at night a different experience awaits. Every day between 7 p.m. and 2 a.m. the bridge is illuminated with LED lights, creating a wave of light that flows through the Singapore night.</i><br>
    </div>