<footer class="bg-light mt-4">
   <div class="footer-1">
       <ul>
   <li><h4><b>CITY GUIDES</b></h4></li>
   <li>Signapore</li>
   <li>Male</li>
   <li>Tokyo</li>
   <li>Seoul</li>
   <li>London</li>
</ul>
<ul>
    <li><h4><b>TOP DESTINATIONS</b></h4></li>
    <li>Signapore</li>
   <li>Tokyo</li>
   <li>Hong Kong SAR</li>
   <li>Chennai</li>
   <li>Manchester_</li>
</ul>
<ul>
    <li><h4><b>TOP COUNTRIES</b></h4></li>
    <li>Japan</li>
    <li>India</li>
    <li>United Kingdom</li>
    <li>Germany</li>
    <li>indonesia</li>
</ul>
<ul>
<li><h4><b>POPULAR FLIGHTS</b></h4></li>
<li>San
    Francisco to
     Singapore</li>
     <li>Los Angeles
        to 
        Singapore</li>
        <li>Los Angeles 
            to Tokyo</li>
            <li>New York to 
                Singapore</li>
                <li>San 
                    Francisco to
                     Hong Kong SAR</li>
</ul>
   </div>
   <div class="footer-2">

   </div>
</footer>
