<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
<img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Presbytis_femoralis_Andie_Ang.jpg">
          <h5>  The Raffles’ banded langur is a subspecies of the genus Presbytis, from the primate family Cercopithecidae, also known as the “Old World monkeys”.2 They were first described as Semnopithecus femoralis by W.C.L. Martin in 1838, and although the species was originally thought to be from elsewhere, several researchers determined the type locality to be restricted to Singapore in 2014.3 There are also two other subspecies in this group: the East Sumatran banded langur (Presbytis femoralis purcura) and Robinson’s banded langur (Presbytis femoralis robinsoni).4 Singapore only has two native monkey species: the Long-tailed macaque (Macaca fascicularis)5 and Raffles’ banded langur.6

The Raffles’ banded langur can grow up to 59 cm long, or 84 cm inclusive of its tail,7 and can weigh up to 6 kg.8 Its alarm call is described as akin to the rattle of a machine gun.9

It has a round head, with forward-looking eyes and a short muzzle.10 A white line runs down the middle of its chest and belly, and the fur on the inner parts of its arms and legs until just below its knees is white.11 Each eye has a light-coloured ring encircling it and there is a pale crescent shape between the eye and ear on both sides of its face.12 It has long limbs and tail, a protruding abdomen and the fur on its head is directed towards the centre of its crown where it stands erect.13 Adult banded leaf monkeys have black fur, while the young generally have fur ranging from white to pale grey. Some infants with orange fur have been reported.14

An arboreal monkey, it inhabits high treetops in tropical rainforests and hardly ever comes to the ground. It is herbivorous and feeds mainly on the fruits and new leaves of selected trees. It is a gregarious animal, normally associating in groups and travelling together with fellow troop mates.15</h5>
        </div>
    </div> 
</div>