<!-- <div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-12"> -->
          
          <div class="container">
            <div class="slider">
              <div class="box1">
              </div>
              <div class="box2">
              </div>
              <div class="box3">
              </div>
              <div class="box4">
              </div>
              <div class="box5">
              </div>
              <div class="box6">
              </div>
              <div class="box7">
              </div>
            </div>
          </div>
          <div id="test">

          </div>
          
              <!-- <h1>River Safari:</h1>
              
              River Safari is Asia's first and only river-themed wildlife park, situated in Singapore where you can
               stroll alongside freshwater aquariums, walk past exhibits and meet one of the cutest creatures; Panda!
                Nestled between the Singapore Zoo and the Night Safari, it boasts over 6,000 animals, including 40
                 threatened species, with zones that replicate the habitats of rivers across the world, from the
                  Mississippi to the Yangtze.
              
             <h1>Night Safari:</h1> 
              Night Safari welcomes you into a world of nocturnal creatures and their dim-light habitats.
               This is the world’s first safari park, which is spread across seven distinct habitats. The habitats
                designed to imitate the natural environment from the Himalayan Foothills to the Southeast Asian rain-forest
                 will leave you awestruck. 
                So embark on this Night Safari and witness the amazing tropical jungle after dusk.
            
            </div>
        </div>
    </div>
      -->