<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            
                
               
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Singapore_flyer_capsule_cu.JPG/304px-Singapore_flyer_capsule_cu.JPG"class="img-thumbnail " alt="...">

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Singapore_flyer_capsule_inside.JPG/304px-Singapore_flyer_capsule_inside.JPG" class="img-thumbnail " alt="...">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Singapore_Singapore-Flyer-Ferris-wheel-01.jpg/608px-Singapore_Singapore-Flyer-Ferris-wheel-01.jpg"class="img-thumbnail " alt="...">

</div> 
</div> 

        <div class="col-md-12 mt-3">
            <h3>Points Of Interest for Singapore Flyer</h3>

            <p> If you’re looking for a special dining experience with a loved one, 
                Singapore Flyer Sky Dining would be right up your alley. The Sky Dining activity
                 reserves a shared capsule for two, for an hour-long dining experience.
                  Approximately, the experience lasts for two turns of the iconic wheel.

                A four course dinner of choice cuisine- Western, Oriental or Vegetarian- accompanies 
                the stunning views of the Marina below. Each dining couple is accompanied by an
                 in-house host to wait on them. The Sky Dining experience also comes with a
                  complimentary entry to the Time Capsule after the Flyer ride.</p>

            <h3>How To Reach Singapore Flyer </h3>
            <p>- By MRT: The nearest MRT station to the Singapore Flyer is the Promenade Station.
                 From here, take the Exit A and an 8 minute walk to the Flyer. <br>

                
            - By Bus: The nearest Bus Stop to the Singapore Flyer is stop number 02171, opposite the Ritz Carlton. Several buses provide services to the stop.</p>
            <h3>Places to Visit & Things to Do Near Singapore Flyer</h3>
            <p><i>a Rejuvenate your mind, soul and body at Kenko Spa: Nothing sounds 
                as refreshing as pampering yourself with a rejuvenating spa therapy at the Kenko
                 Spa center. You can either opt for acupuncture therapy to relieve the tension
                  build-up on your muscles or go for a natural exfoliation treatment with a fish spa.
                Read More: Best Spas in Singapore<br>
                
                b. Spend some quality time at the Tourist and Transit Hub: Well-known as one of the excellent tourist stop points of Singapore, Tourist and Transit Hub You can enjoy strolling along the Marina Bay’s
                 water edge and admire the views that surround you.<br>
                
                c. Captain Explorer DUKW Tour: Enjoy like you never did before at Captain Explorer DUKW Tour. This is the one-of-its-kind adventurous tour to watch both land and water amphibians.
                 Your trip will be an audio-guided tour to introduce you to some fascinating facts about the city’s famous landmarks such as the Supreme Court, War Memorial, Esplanade, City 
                Hall, and Padang. For every sixty minutes, there’s another ride ready for you.<br></i></p>
        </div>
    </div>

