<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
           <p> The 5-star Pan Pacific Singapore is directly connected to Marina Square Mall and Suntec Convention Centre. Located at the gateway of Singapore’s Central Business and Financial Districts, it features an outdoor swimming pool and guests can enjoy meals at 6 dining options or have a drink at the bar. Free WiFi is available throughout the hotel.

            It is 800 m to Esplanade - Theatres By The Bay, while Gardens by the Bay is 1.1 km away. The National Gallery Singapore, Victoria Theatre and Asian Civilisations Museum are within 1.3 km from the property. Changi Airport Singapore is 20 km from Pan Pacific Singapore.
            
            Air-conditioned rooms at are equipped with full-length windows featuring panoramic views of the city. All rooms are fitted with a flat-screen satellite TV and a work desk. The en suite bathroom includes shower facilities and free toiletries.
            
            Other facilities at the property include a wading pool equipped with cabanas and sun loungers, 2 tennis courts as well as a fitness centre. Located by the pool, the award-winning St. Gregory Spa offers a wide range of pampering face and body treatments. Guests can approach the 24-hour front desk for concierge services and luggage storage.
            
            Pacific Marketplace is a gourmet grocery and café serving coffees, croissants and pastries, as well as a wide selection of cakes, chocolates, sandwiches and salads. Other dining options include Keyaki Japanese Restaurant, Hai Tien Lo Cantonese Restaurant and Rang Mahal Indian Restaurant. Drinks and snacks are served at the Atrium, while the new Poolside Bar offers a wide variety of cold beverages and Pacific-inspired snacks and main courses.
            
            This is our guests' favourite part of Singapore, according to independent reviews.
            
            Couples particularly like the location — they rated it 9.4 for a two-person trip.</p>



            </div>
        </div>
    </div>