.container {
    text-align: left;
  
}
.contain{
background-repeat: no-repeat;
background-image: url(http://habitatnews.nus.edu.sg/pub/naturewatch/photos/081-11d.jpg);
background-position:right ;
}

.contain{
    background-repeat: no-repeat;
    background-image: url(http://habitatnews.nus.edu.sg/pub/naturewatch/photos/081-11d.jpg);
    background-position:right ;
    }
