
<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
          <p> According to the ongoing Singapore Wild Marine Mammal Survey (SWIMMS)
               conducted by the Dolphin Study Group at the National University of
                Singapore, four types of small cetaceans have been sighted in Singapore 
                waters: the Bottlenose, Indo-Pacific Humpback and Irrawaddy dolphins,
                and the Finless Porpoise. Their presence is not doubted. </p> 

            <p> The Singapore Wild Marine Mammal Survey (SWIMMS) is a project by The Dolphin Study Group,
 part of the Tropical Marine Science Institute (TMSI) based at the National University 
 of Singapore. This project started in May 1996 and is focused on studying the general
  distribution of dolphins and dugongs in Singapore and regional waters.</p> 

<p> For that purpose, a sighting form was distributed to the public interested in the marine
 environment. This form enabled people to report all information related to their
 observations of marine mammals such as the date, time, location, species, numbers
  and basic behaviour. More than 100 sighting forms have been received,
   and more continue to come in.</p> 

<p> Our website showcases these numerous observations of dolphins around Singapore. 
Take some time to look at the results and check out the different dolphin species.
 Apart from printing a copy of the sighting form form from the website, it is also 
 available from many dive shops and dive clubs in Singapore.</p> 

<p> You can contribute significantly to the project by providing us with real-time
 reports of marine mammals in Singapore waters. This means that if possible, you 
 should contact us within an hour or two after observing the animals, noting down
  the number of individuals, the time, and most importantly, die location of the sighting.</p> 
<p> A GPS (Global Positioning Satellite) reading of the location would be even better,
    but otherwise, we can usually cope with a brief description of the place where
     the marine mammals had been spotted. The species identification is not absolutely 
     necessary. The real-time reporting on the location of the sighting remains the most
      valuable information as it enables us to go straight out to the area where the
       animals were seen.	</p> 
<div class="contain">

    <p> Irrawaddy Dolphin
It does not have a beak<br>
but a wide smile instead.<br>
It has a small<br>
dorsal fin (below)</p> 


<p> Indo-Pacific
Humpback Dolphin<br>
It has a characteristic hump<br>
at the dorsal fin (below)</p> 

<p>Indo-Pacific Humpback<br>
Dolphin mother and calf<br>
The young ones are dark grey,<br>
and lighten to a rose-pink<br>
as they mature. This species<br>
is threatened by destruction<br>
of its coastal habitats<br>
and from capture for<br>
the marine park trade.</p>
</div>

Finless Porpoise
mother and calf

Dugong or Sea Cow
It grazes on seagrass beds
in coastal areas. These areas
are threatened by land
reclamation and pollution.

Another very interesting way to study marine mammals is to collect data from dead
 animals that have been washed ashore. Marine mammals die at sea and their bodies
  are usually brought ashore by currents. Carcasses are a priceless source of
   information as they provide us with with plenty of details about the animal's 
   life history (size, colour patterns, reproductive features, etc) and its health 
   (diseases, parasites, etc). Should you come across a dead or stranded marine mammal 
   somewhere in Singapore, give us a call straightaway.

We will come to the location as soon as possible as a fresh carcass provides 
scientists with more data than a mummified one! It might even be a live animal lying 
on its belly! This poor creature would be suffering and needing assistance. Don't 
attempt any rescue by yourself as only experienced people can attend to an injured
 marine mammal. The best thing to do is still to contact us.

Another way to take part in SWIMMS is to become a volunteer in our marine mammal 
surveys. Seagrass and dugong surveys will give volunteers the opportunity to get
 involved in our research projects. As dugongs feed on seagrass, it is very 
 interesting to learn more about the distribution of seagrass in Singapore waters.
  For this purpose, surveys will be carried out this year to investigate the 
  distribution of seagrass. A search for seagrass patches will be done at very 
  low tide around several islands off northern Singapore. This search will require 
  much walking and some snorkelling. Ground-based surveys to collect data on dugongs
   have also been scheduled for one Sunday morning per month on the offshore island 
   of Pulau Ubin. These are based on the valuable information gathered from previous 
   seagrass surveys. We are still looking for volunteers.

As members of the SWIMMS team, volunteers will acquire some skills in marine biology
 and survey methods. This is a little bit of work but the rewards are tremendous—how 
 many lucky people get to experience encounters with marine mammals?
            </div>
        </div>
    </div>