<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <img src="https://www.historyhit.com/app/uploads/fly-images/5166450/Merlion-Statue-690x388.jpg?x57060">
           <h2> <b>About Merlion Statue</b></h2>
           <p> The Merlion Statue in Singapore’s Merlion Park is an iconic 8.6 metre statue of a mythical lion-fish hybrid,
                and is the official mascot of Singapore. The colossal statue is used to represent Singapore for sports teams, advertising, tourism and national identity.</p>
            
        <p>Today, you can see the Merlion Statue from the 2,500 acre Merlion Park, as well as on 
            branding at most Singapore tourist spots and in the 2018 romantic comedy film, 
            ‘Crazy Rich Asians’.
            
            <h2> <b> Merlion Statue history</b></h2> 
        <p> The Merlion was originally designed by Fraser Brunner, a curator of the Van 
            Kleef Aquarium, as an emblem for the Singapore Tourist Board. Brunner intended the
             lion’s head of the Merlion to represent the lion seen by Prince Sang Nila Utama when
              he rediscovered Singapura or ‘Lion City’ in 11 AD.</p>
            
    <p> The prince’s lion head sits on the body of a fish, which is symbolic of Singapore’s
         roots as a fishing village and from which the ‘Mer’ half of Merlion’s name derives, 
         meaning ‘Sea’.
            
<p>   Whilst there are actually 5 official Merlion statues, the original was built by 
    Singapore craftsman Lim Nang Seng between 1971 and 1972, weighing 70 tons and
     reaching 8.6 metres high. The statue was opened by Prime Minister Lee Kuan Yew
      on 15 September 1972, standing at the mouth of the Singapore River.</p>
            
<p>However, when it was completed in 1997, the Esplanade Bridge blocked views of
     the Merlion. So in 2002, the statue was relocated 120 metres away to the current 
     Merlion Park looking out over Marina Bay. In 2009, the Merlion was hit by lightening
      an fragments of its head were scattered on the ground.</p>

            
        <h2> <b> Merlion Statue today</b></h2>
        <p>   Today, guarding Singapore from its perch in Merlion Park, the Merlion 
            Statue is flanked by 2 smaller versions of the Merlion. This giant statue
             spouts a smooth line of water into the river before it. You cannot miss this 
             icon if you’re wandering about the city, particularly at night when it is
              dramatically lit up from below.</p>
            
           
              <h2> <b> Getting to the Merlion Statue </b></h2> 
            <p>  Merlion Park is completely free to visit and boasts lots of restaurants,
                 shops and cafes offering Singapore’s local delicacies. The statue is 
                 located at 1 Fullerton near the Marina Bay waterfront and is a short 
                 walk from Raffles Place MRT station.  </p> 
            
        
    </div> 
</div> 
</div> 
