<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <h3>Welcoming Turtles on Our Shore</h3>
               <p> This past August, marine wildlife enthusiasts were in for a real surprise – Hawksbill Turtle hatchlings
                and an egg-laying mother turtle were
                sighted in East Coast Park, much to everyone’s wonder and delight!
                NParks staff from the National Biodiversity Centre, which manages the conservation
                of terrestrial and marine flora and fauna in Singapore, responded to this occurrence. They helped to
                guide the hatchlings to shore and to relocate the turtle eggs to a more suitable location to ensure a
                higher chance of survival.

                Curious about the incident, some members of the public expressed concern over
                how these turtles are protected in Singapore.
                
                Mother Hawksbill Turtle
                Hawksbill Turtles were sighted twice within two weeks at East Coast Park in
                August.
               
            </p><br>

            <img src="https://www.nparks.gov.sg/-/media/mgs/images/issue-35-vol-4-2017/p1240357.ashx?h=376&&w=501&la=en&hash=78AAA5D4F1721A0C1A92BEC5675CCA2CA4D8F166">
           

          <p>  We catch up with NParks Senior Manager Collin Tong who explained how he and
            his team, comprising Managers Ng Juat Ying and Koh Kwan Siong, adopted the
            best practices from one of the most established turtle hatcheries in the
            world, and how these lessons will help to shape future dedicated efforts
            towards protecting turtles.</p>
            
               <img src="https://www.nparks.gov.sg/-/media/mgs/images/issue-35-vol-4-2017/green-turtle.ashx?h=225&&w=300&la=en&hash=E6113B5A31464BFDAA82C3281AD5F96EF089B054">
               <img src="https://www.nparks.gov.sg/-/media/mgs/images/issue-35-vol-4-2017/seaturtle.ashx?h=225&&w=300&la=en&hash=DC66A26582355EB6B7B802C115694F7D6531DA86">
               <h3> Making Singapore their home</h3>

           <p>Singapore is home to the Green Turtle (Chelonia mydas) and the Hawksbill
            Turtle (Eretmochelys Imbricata), which both continually return to our sandy
            shores to lay their eggs, despite our high rate of urbanisation and busy
            waters.

            Green Turtleseaturtles
            The Green Turtle (left) and Hawksbill Turtle (right) call Singapore’s waters
            home.

            However, the turtles face many threats. Collin explained, “Turtles eggs
            may be predated upon by monitor lizards or affected by high tide, which
            can drown the porous eggs. Plant roots may also break through the egg
            shells, killing them by sucking up their nutrients and moisture.”

            And even if the eggs do survive their approximately 60-days incubation
            period, challenges remain. For instance, hatchlings are attracted to light
            sources, and may crawl inland instead of heading out to sea. Collin
            recollected that he had seen hatchlings crawling onto foot paths and
            cycling tracks, eventually congregating below the brightest lamppost.



            Hawksbill Turtle hatchlings at East Coast Park were guided to sea with
            the use of lights.

           <i> To learn how to better protect these turtles, Collin and his team attended
            a hatchery training programme at the Mon Repos Turtle Centre in Queensland,
            Australia, in February 2017. This well-established institute supports the
            largest concentration of nesting marine turtles on the eastern Australian
            mainland and has a hatchling success rate of around 70 to 80%, almost double
            that of other hatcheries in the region.

            Shedding ‘light’ on the issue

            The NParks team gained invaluable hands-on experience in turtle management
            from experts and experienced volunteers. For example, the team learnt about
            the light regime when handling turtles. Collin explained that while lights
            can be used more liberally with hatchlings, and are used to guide them from
            the shore to the sea, with nesting turtles, lights can only be shone from
            the rear when they are in the midst of laying their eggs.

            “Lights should be avoided when the mother turtles approach shore and return
            to sea,” he added. “This is because when returning to the sea, they need to
            see the horizon, more specifically the dark patch separating sea from sky,
            to find their bearings.”

            Laying Eggs
            The NParks conservation team documenting the egg-laying process was mindful
            not to shine their lights in front of the turtle.

            Finding the Best Spots for Nests

            Nest relocation also poses an issue. When turtle nests are laid in unsuitable
            locations too close to the seafront or in areas with high human traffic,
            they need to be quickly relocated, preferably within the first two hours
            of the eggs being laid.

            This is because while eggs can adapt to the initial shock of dropping 40 to
            60 cm into the nest, after two hours, the embryos will start developing
            and will stick to the inner side of the egg. Movement may then tear the
            tissue from the egg shell, killing the developing turtle in the process,
            Collin explained.

            Relocate Eggs

            The eggs were carefully relocated to a quieter spot.
            These and other lessons will be adapted and incorporated as key practices
            in Singapore’s first sea turtle hatchery located at the southern lagoon on
            Small Sister’s Island. Due for completion in 2018, the facility will provide
            a dedicated in situ facility to receive, nurture and hatch rescued turtle
            eggs assessed to be at risk from other coastal areas in Singapore, in an
            effort to increase their survivability. It will be constructed with a
            $500,000 donation from HSBC.</i>

            “We hope that we can establish ourselves with the hatchery and rehabilitate
            our coastal areas well so that turtles will choose to come back to Singapore,
            year after year, to lay their eggs here,” Collin said.

            “We want to continue what we’re doing now and do this consistently for the
            next 10 to 20 years. The goal is to be successful in outreach, education
            and conservation, and hopefully we can see our hatching success rate as
            high as that of Mon Repos and elsewhere.”
            Help protect our turtles
            If you spot a nesting turtle, please speak softly, keep your distance
            and refrain from using lights and flash photography to avoid scaring it.
            Also, contact the NParks helpline at 1800 471 7300 to report your sighting.
            For more information on what to do when encountering these beautiful
            animals, visit https://nparks.gov.sg/gardens-parks-and-nature/dos-and-donts/
            animal-advisories/hawksbill-turtles.
            Text by Elizabeth Kamaldin; photo of Green Turtle by Tan Heok Hui,
            photo of Hawksbill Turtle by Karenne Tun, photos and videos of turtles at
            East Coast Park by Collin Tong</p> 
            YOU MAY ALSO LIKE
            Welcoming Turtles on Our Shore
            Six Finds at the Community Garden Festival
            Cooking With Edibles From Your Garden: Vadai Recipe
            Total Comments: 0
        </div>
    </div>
</div>